* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: roboto;
    src: url(/fontes/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: code_light;
    src: url(/fontes/code/CascadiaCode-Light.otf);
}

.cont {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #d5d0fd;
    align-items: center;
    font-family: roboto;
}

.site {
    width: 400px;
    height: 500px;
    margin-right: 20px;
    text-align: justify;
}

h2 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.fle h4 {
    font-weight: bold;
    margin-bottom: 2px;
}

.devs {
    width: 600px;
    height: 500px;
    margin-left: 10px;
}

.dev_elvis_lucas {
    display: flex;
}

.dev_elvis_lucas .fle {
    margin-top: 17px;
    padding-top: 17px;
    width: 450px;
    height: 150px;
    display: block;
    align-items: center;
}

.dev_elvis_lucas img {
    border-radius: 100%;
    margin: 15px;
    width: 150px;
    height: auto;
}

.dev_elvis_lucas h4 {
    font-size: 16px;
}

.dev_elvis_lucas p {
    font-size: 13px;
    margin-bottom: 5px;
}

.icon1 {
    width: 100px;
    display: flex; 
    justify-content: space-between;
}

footer {
    width: 100%; 
    height: 200px; 
    background-color: #05B6CA; 
    position: relative;
    font-family: code_light;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.logo2 img {
    width: 250px;
    height: auto;
}

footer a {
    text-decoration: none;
    color: #035c66;
}

.box_footer {
    width: 1300px;
    height: 140px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

footer h5 {
    font-weight: lighter;
}

footer hr {
    margin-left: 100px;
    margin-right: 100px;
    height: 1px;
    border-width: 0;
    color: #ffffff;
    background-color: rgb(255, 255, 255);
    margin-bottom: 23px;
}

.opcoes2 {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    height: 50px;
}

.insta {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #035c66;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insta img {
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

.background {
    width: 150px;
    height: 70px;
}

.background h5 {
    font-size: 15px;
}