body {
    margin: 0;
    background: #f5fdf1;
    background-image: url(/imagens/woman_background_white.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    background-size: 964px;
}

@font-face {
    font-family: roboto;
    src: url(/fontes/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(/fontes/roboto/Roboto-Light.ttf);
}

/*cabeçalho inicio*/

header {
    width: 100%; 
    height: 70px; 
    background-color: #05B6CA; 
    position: absolute; 
    display: flex;
    align-items: center;
}

/*imagem do cabeçalho*/
.logo {
    margin-top: 6px;
    position: absolute; 
    width: 200px; 
    height: auto;
}

.logo img {
    width: 90%; 
    margin-left: 10%; 
}

/* itens do cabeçaho */
nav {
    position: absolute; 
    right: 10px; 
    display: flex;
    align-items: center;
}

nav ul li {
    float: left; 
    color: #fff; 
    width: auto; 
    margin-right: 20px;
   
    list-style: none;
    font-size: 15px;
    font-family: roboto;
}
 
nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #c8c8ce;
}

#cad {
    width: 120px;
    height: 35px;
    border-radius: 1px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
   
    list-style: none;
    font-size: 15px;
    font-family: roboto;
}

/* itens principal da pagina */
.container {
    height: 4500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* primeiro texto  */
.frase_h2 {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 37px;
    margin-right: 600px;
    font-weight: normal;
    font-family: roboto;
    padding-top: 150px;
    padding-left: 200px;
}

.frase_h2 h2 {
    margin-bottom: 10px;
}

.frase_h2 button {
    width: 300px;
    height: 50px;
    font-size: 25px;
    font-family: roboto;
    background-color: #05B6CA;
    border: 2px solid rgba(102, 47, 255, 0.068);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-right: 60px;
}

/* texto de apresentação */
.texto_tutor {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 240px;
    font-family: roboto;
    text-align: center;
}

.texto_tutor h2 {
    font-size: 40px;
    margin: 0;
}

.texto_tutor .t1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.texto_tutor .t2 {
    font-size: 20px;
    margin: 0;
}

/* primeito quadro de tutorial */
.tutorial1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    width: 100%;
    height: 520px;
    background-color: #dedada;
    font-family: roboto;
    align-items: center;
}

.normal {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #dedada;
    font-family: roboto;
    align-items: center;
    margin: 0;
}

.normal .text_normal2 {
    width: 600px;
}

.text_normal2 h2 {
    font-size: 30px;
}

.text_normal2 h3 {
    font-size: 22px;
}

.text_normal2 p {
    font-size: 20px;
}

/* imagem do primeiro quadro */
.tutorial1 img {
    width: 480px;
    height: 300px;
    margin-left: 50px;
}

.tutorial1 .tx p {
    width: 700px;
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
}

/* segundo quadro de tutorial */
.tutorial2 {
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 100%;
    height: 1340px;
    background-color: #dedada;
    font-family: roboto;
    padding-top: 50px;
}

.tut2_1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.tut2_1 .tut_text {
    width: 500px;
    font-size: 20px;
    margin-right: 50px;
}

.tut2_2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tut2_2 img {
    width: 500px;
}

.tut2_2 .tut_text2 {
    width: 550px;
    font-size: 20px;
    margin-left: 50px;
}

.tut2_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tut2_3 p {
    width: 500px;
    font-size: 24px;
    margin-left: 50px;
    text-align: center;
    margin-bottom: 40px;
}

/* terceiro quadro de tutorial */
.tutorial3 {
    margin: 50px;
    width: 100%;
    height: 450px;
    background-color: #dedada;
}

.opcoes {
    display: flex;
    justify-content: center;
}

.comum {
    margin: 25px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #035c66;
}

.ganhar {
    margin: 25px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #035c66;
}

.perder {
    margin: 25px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #035c66;
}

footer {
    width: 100%; 
    height: 200px; 
    background-color: #05B6CA; 
    position: relative;
    font-family: roboto-light;
    font-size: 14px;
}

/*--------------------------home fim---------------------------*/