* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #d5d0fd;
    align-items: center;
}

footer {
    width: 100%; 
    height: 100px; 
    background-color: #05B6CA; 
    position: relative;
    font-family: roboto-light;
    font-size: 14px;
    color: #fff;
}