* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: roboto;
    src: url(fontes/roboto/Roboto-Regular.ttf);
}

.cont {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #d5d0fd;
    align-items: center;
    font-family: roboto;
}

.site {
    width: 400px;
    height: 500px;
    margin-right: 10px;
    background-color: #998ef1;
    text-align: justify;
}

h2 {
    margin-bottom: 20px;
    margin-left: 15px;
}

.fle h4 {
    font-weight: bold;
}

.devs {
    width: 600px;
    height: 500px;
    margin-left: 10px;
    background-color: #998ef1;
}

.dev_elvis {
    display: flex;
}

.dev_elvis .fle {
    margin-top: 17px;
    padding-top: 17px;
    width: 450px;
    height: 150px;
    display: block;
    align-items: center;
    background-color: aqua;
}

.dev_elvis img {
    border-radius: 100%;
    margin: 15px;
    width: 150px;
    height: auto;
}

.dev_elvis h4 {
    font-size: 16px;
}

.dev_elvis p {
    font-size: 13px;
}

.icon1 {
    width: 100px;
    display: flex; 
    justify-content: space-between;
}

footer {
    width: 100%; 
    height: 100px; 
    background-color: #05B6CA; 
    position: relative;
    font-family: roboto-light;
    font-size: 14px;
    color: #fff;
}