body {
    margin: 0;
    background: #f5fdf1;
    background-image: url(imagens/woman_background_white.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    background-size: 964px;
}

@font-face {
    font-family: poppins-madium;
    src: url('../site_tcc_fatec/fontes/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Nexa-Extralight;
    src: url('../site_tcc_fatec/fontes/Nexa-ExtraLight.ttf');
}

@font-face {
    font-family: roboto;
    src: url(fontes/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(fontes/roboto/Roboto-Light.ttf);
}

/*----------------------home inicio---------------------------*/

/* -------cabeçalho inicio------- */

header {
    width: 100%; 
    height: 70px; 
    background-color: #05B6CA; 
    position: absolute; 
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 6px;
    position: absolute; 
    width: 200px; 
    height: auto;
}

.logo img {
    width: 90%; 
    margin-left: 10%; 
}

nav {
    position: absolute; 
    right: 10px; 
    display: flex;
    align-items: center;
}

nav ul li {
    float: left; 
    color: #fff; 
    width: auto; 
    margin-right: 20px;
   
    list-style: none;
    font-size: 15px;
    font-family: roboto;
}
 
nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #c8c8ce;
}

#cad {
    width: 120px;
    height: 35px;
    border-radius: 1px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
   
    list-style: none;
    font-size: 15px;
    font-family: roboto;
}
/* -------cabeçalho fim------- */

.container {
    height: 2500px;
    display: block;
}

.frase_h2 {
    width: 600px;
    font-size: 37px;
    font-family: roboto;
    padding-top: 150px;
    padding-left: 200px;
}

.tutorial1 {
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 1260px;
    height: 450px;
    border-radius: 15px;
    background-color: #dedada;
}

.tutorial {
    margin: 50px;
    width: 1260px;
    height: 450px;
    border-radius: 15px;
    background-color: #dedada;
}

.opcoes {
    display: flex;
    justify-content: center;
}

.comum {
    margin: 25px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #035c66;
}

.ganhar {
    margin: 25px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #035c66;
}

.perder {
    margin: 25px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #035c66;
}

footer {
    width: 100%; 
    height: 200px; 
    background-color: #05B6CA; 
    position: relative;
    font-family: roboto-light;
    font-size: 14px;
}

/*--------------------------home fim---------------------------*/